In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/2014-Jan.csv', header=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 471949 entries, 0 to 471948
Data columns (total 5 columns):
ORIGIN_AIRPORT_ID    471949 non-null int64
DEST_AIRPORT_ID      471949 non-null int64
ARR_DEL15            439620 non-null float64
CANCELLED            471949 non-null float64
Unnamed: 4           0 non-null float64
dtypes: float64(3), int64(2)
memory usage: 21.6 MB

In [3]:
df.columns = ['AirportID', 'Destination', 'Delayed', 'Cancelled', 'NONE']
df = df[['AirportID', 'Destination', 'Delayed', 'Cancelled']]
df = df[['AirportID', 'Delayed', 'Cancelled']]
df.head()

   AirportID  Delayed  Cancelled
0      10135      NaN          1
1      10135        0          0
2      10135        1          0
3      10135        0          0
4      10135        1          0

TODO:

Draw map-like bubble visualization where each bubble is a pie for cancellation/total.
Radius should represent total number of flights.

In [4]:
df.loc[df.Delayed.isnull(), 'Delayed'] = 0
df.head()

   AirportID  Delayed  Cancelled
0      10135        0          1
1      10135        0          0
2      10135        1          0
3      10135        0          0
4      10135        1          0

In [13]:
dfStat = df.groupby('AirportID', as_index=False).agg({'Cancelled': np.mean,
                                                      'Delayed': [np.mean, len]})
dfStat.columns = ['AirportID', 'Cancelled', 'Delayed', 'Count']
dfStat['Count'] = dfStat.Count.astype(int)
dfStat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 301 entries, 0 to 300
Data columns (total 4 columns):
(AirportID, )        301 non-null int64
(Cancelled, mean)    301 non-null float64
(Delayed, mean)      301 non-null float64
(Delayed, len)       301 non-null float64
dtypes: float64(3), int64(1)
memory usage: 11.8 KB

In [14]:
dfStat.head()

  AirportID Cancelled   Delayed
                 mean      mean   len
0     10135  0.162963  0.251852   135
1     10136  0.012346  0.156379   243
2     10140  0.034031  0.237173  1910
3     10141  0.032258  0.129032    62
4     10146  0.078652  0.134831    89

In [43]:
airports = pd.read_csv('data/airports.csv')
airports.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13094 entries, 0 to 13093
Data columns (total 9 columns):
AIRPORT_ID                        13094 non-null int64
AIRPORT                           13094 non-null object
DISPLAY_AIRPORT_NAME              13094 non-null object
DISPLAY_AIRPORT_CITY_NAME_FULL    13094 non-null object
AIRPORT_COUNTRY_NAME              13094 non-null object
LATITUDE                          13093 non-null float64
LONGITUDE                         13093 non-null float64
AIRPORT_IS_LATEST                 13094 non-null int64
Unnamed: 8                        0 non-null float64
dtypes: float64(3), int64(2), object(4)
memory usage: 1023.0+ KB

In [8]:
airports.rename(columns={'AIRPORT_ID': 'AirportID',
                         'LATITUDE': 'Lat',
                         'LONGITUDE': 'Lon',
                         'AIRPORT_IS_LATEST': 'IsLatest'}, inplace=True)
airports = airports.loc[airports.IsLatest == 1, ['AirportID', 'Lat', 'Lon']]
airports.head()

   AirportID        Lat         Lon
0      10001  58.109444 -152.906667
1      10003  65.548056 -161.071667
2      10004  68.083333 -163.166667
3      10005  67.570000 -148.183889
4      10006  57.745278 -152.882778

In [9]:
airports[airports.AirportID == 10135]

     AirportID        Lat        Lon
156      10135  40.652222 -75.440556

In [39]:
joinedDF = pd.merge(dfStat, airports, on='AirportID')
joinedDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 301 entries, 0 to 300
Data columns (total 6 columns):
AirportID    301 non-null int64
Delay        301 non-null float64
Cancelled    301 non-null float64
Count        301 non-null int64
Lat          301 non-null float64
Lon          301 non-null float64
dtypes: float64(4), int64(2)
memory usage: 16.5 KB

In [40]:
joinedDF.tail()

     AirportID     Delay  Cancelled  Count        Lat         Lon
296      15624  0.228856   0.136816    402  30.483333  -86.525278
297      15841  0.112903   0.048387     62  56.484444 -132.369722
298      15919  0.257869   0.128329    826  36.281667  -94.307778
299      15991  0.133333   0.000000     60  59.503333 -139.660278
300      16218  0.075758   0.018939    264  32.656667 -114.605833

In [41]:
joinedDF.to_csv('flights-stat.csv', index=False)

In [42]:
joinedDF.sort('Lon')

     AirportID     Delay  Cancelled  Count        Lat         Lon
7        10165  0.111111   0.000000      9  51.878056 -176.646111
230      14222  0.100000   0.000000     10 -14.330000 -170.710278
213      13873  0.133333   0.033333     60  64.512500 -165.444444
219      13970  0.200000   0.016667     60  66.884722 -162.598056
25       10551  0.144578   0.036145     83  60.778611 -161.837222
171      12982  0.071346   0.004603    869  21.976111 -159.338889
134      12173  0.061787   0.003447   3771  21.317778 -157.920278
43       10754  0.230769   0.012821     78  71.284722 -156.768611
210      13830  0.080756   0.003436   1746  20.898611 -156.430556
158      12758  0.069613   0.006630    905  19.738889 -156.045556
151      12402  0.073359   0.003861    518  19.720278 -155.048333
8        10170  0.075472   0.132075     53  57.750000 -152.493889
14       10299  0.132399   0.014798   1284  61.174167 -149.998056
257      14709  0.153846   0.012821     78  70.195556 -148.465833
101      11630  0.088957   0.012270    326  64.815000 -147.856389
54       10926  0.100000   0.016667     60  60.491667 -145.477500
299      15991  0.133333   0.000000     60  59.503333 -139.660278
265      14828  0.141304   0.032609     92  57.046944 -135.361111
157      12523  0.148026   0.167763    304  58.354722 -134.574722
233      14256  0.129032   0.112903     62  56.801389 -132.946111
297      15841  0.112903   0.048387     62  56.484444 -132.369722
159      12819  0.134409   0.096774    186  55.354167 -131.711111
218      13964  0.258065   0.064516     31  43.416944 -124.246944
55       10930  0.188235   0.058824     85  41.780278 -124.236667
6        10157  0.189591   0.063197    269  40.977778 -124.108333
96       11603  0.189066   0.054670    439  44.124444 -123.211944
186      13264  0.173913   0.141304    276  42.374167 -122.873611
222      14057  0.156800   0.021943   4375  45.588611 -122.596944
33       10666  0.105263   0.000000     76  48.792778 -122.537500
261      14771  0.200148   0.030923  13550  37.618889 -122.375556
..         ...       ...        ...    ...        ...         ...
223      14098  0.229050   0.083799    179  37.131944  -76.493056
216      13931  0.275758   0.108081    990  36.894722  -76.201111
282      15096  0.346570   0.175090    554  43.111111  -76.106389
16       10361  0.310345   0.413793     58  43.991944  -76.020556
22       10434  0.250000   0.250000     68  41.338333  -75.723333
144      12320  0.745455   0.000000     55  39.678611  -75.606667
0        10135  0.251852   0.162963    135  40.652222  -75.440556
224      14100  0.320492   0.062604   6022  39.872222  -75.240833
287      15356  0.481203   0.075188    133  40.276667  -74.813333
99       11618  0.337218   0.112334   9267  40.692500  -74.168611
281      15070  0.370968   0.096774     62  41.504167  -74.104722
169      12953  0.289683   0.119695   8530  40.777222  -73.872500
11       10257  0.333895   0.089376    593  42.749167  -73.801944
155      12478  0.316324   0.096598   7878  40.640000  -73.778611
137      12197  0.382114   0.165854    615  41.066944  -73.707500
46       10785  0.317406   0.170648    293  44.471944  -73.153333
150      12391  0.434673   0.065327    398  40.795278  -73.100278
24       10529  0.313333   0.082778   1800  41.939167  -72.683333
217      13933  0.338710   0.129032     62  42.267222  -71.875556
189      13296  0.310469   0.104693    554  42.932778  -71.435833
235      14307  0.278579   0.099889    901  41.723889  -71.428333
37       10721  0.256708   0.084119   8274  42.363056  -71.006389
236      14321  0.300595   0.122024    336  43.645556  -70.308611
27       10581  0.150000   0.300000     60  44.807500  -68.828056
40       10732  0.169643   0.098214    112  18.494722  -67.129444
232      14254  0.253333   0.106667     75  18.008333  -66.563056
268      14843  0.280277   0.049308   2312  18.439444  -66.002222
277      15024  0.247002   0.040767    417  18.337222  -64.973333
278      15027  0.258427   0.011236     89  17.701389  -64.801944
130      12016  0.193548   0.000000     31  13.483889  144.797222

[301 rows x 6 columns]

In [44]:
airports[airports.AIRPORT_ID == 12016]

,AIRPORT_ID,AIRPORT,DISPLAY_AIRPORT_NAME,DISPLAY_AIRPORT_CITY_NAME_FULL,AIRPORT_COUNTRY_NAME,LATITUDE,LONGITUDE,AIRPORT_IS_LATEST,Unnamed: 8
4133,12016,GUM,Agana Field,"Guam, Guam",Guam,13.483889,144.797222,0,NaN
4134,12016,GUM,Guam International,"Guam, TT",United States,13.483889,144.797222,1,NaN