In [71]:
import numpy as np
import pandas as pd

In [72]:
df = pd.read_csv('data/2014-Jan.csv', header=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 471949 entries, 0 to 471948
Data columns (total 5 columns):
ORIGIN_AIRPORT_ID    471949 non-null int64
DEST_AIRPORT_ID      471949 non-null int64
ARR_DEL15            439620 non-null float64
CANCELLED            471949 non-null float64
Unnamed: 4           0 non-null float64
dtypes: float64(3), int64(2)
memory usage: 21.6 MB

In [73]:
df.columns = ['AirportID', 'Destination', 'Delay', 'Cancelled', 'NONE']
df = df[['AirportID', 'Destination', 'Delay', 'Cancelled']]
df = df[['AirportID', 'Delay', 'Cancelled']]
df.head()

   AirportID  Delay  Cancelled
0      10135    NaN          1
1      10135      0          0
2      10135      1          0
3      10135      0          0
4      10135      1          0

TODO:

Draw map-like bubble visualization where each bubble is a pie for cancellation/total.
Radius should represent total number of flights.

In [74]:
df.loc[df.Delay.isnull(), 'Delay'] = 0
df.head()

   AirportID  Delay  Cancelled
0      10135      0          1
1      10135      0          0
2      10135      1          0
3      10135      0          0
4      10135      1          0

In [75]:
dfStat = df.groupby('AirportID', as_index=False).mean()
# dfStat.columns = ['AirportID', 'Delay', 'Cancelled']
dfStat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 301 entries, 0 to 300
Data columns (total 3 columns):
AirportID    301 non-null int64
Delay        301 non-null float64
Cancelled    301 non-null float64
dtypes: float64(2), int64(1)
memory usage: 9.4 KB

In [76]:
dfStat.head()

   AirportID     Delay  Cancelled
0      10135  0.251852   0.162963
1      10136  0.156379   0.012346
2      10140  0.237173   0.034031
3      10141  0.129032   0.032258
4      10146  0.134831   0.078652

In [87]:
airports = pd.read_csv('airports.csv')
airports.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13094 entries, 0 to 13093
Data columns (total 9 columns):
AIRPORT_ID                        13094 non-null int64
AIRPORT                           13094 non-null object
DISPLAY_AIRPORT_NAME              13094 non-null object
DISPLAY_AIRPORT_CITY_NAME_FULL    13094 non-null object
AIRPORT_COUNTRY_NAME              13094 non-null object
LATITUDE                          13093 non-null float64
LONGITUDE                         13093 non-null float64
AIRPORT_IS_LATEST                 13094 non-null int64
Unnamed: 8                        0 non-null float64
dtypes: float64(3), int64(2), object(4)
memory usage: 1023.0+ KB

In [88]:
airports.rename(columns={'AIRPORT_ID': 'AirportID',
                         'LATITUDE': 'Lat',
                         'LONGITUDE': 'Lon',
                         'AIRPORT_IS_LATEST': 'IsLatest'}, inplace=True)
airports = airports.loc[airports.IsLatest == 1, ['AirportID', 'Lat', 'Lon']]
airports.head()

   AirportID        Lat         Lon
0      10001  58.109444 -152.906667
1      10003  65.548056 -161.071667
2      10004  68.083333 -163.166667
3      10005  67.570000 -148.183889
4      10006  57.745278 -152.882778

In [89]:
airports[airports.AirportID == 10135]

     AirportID        Lat        Lon
156      10135  40.652222 -75.440556

In [90]:
joinedDF = pd.merge(dfStat, airports, on='AirportID')
joinedDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 301 entries, 0 to 300
Data columns (total 5 columns):
AirportID    301 non-null int64
Delay        301 non-null float64
Cancelled    301 non-null float64
Lat          301 non-null float64
Lon          301 non-null float64
dtypes: float64(4), int64(1)
memory usage: 14.1 KB

In [91]:
joinedDF.head()

   AirportID     Delay  Cancelled        Lat         Lon
0      10135  0.251852   0.162963  40.652222  -75.440556
1      10136  0.156379   0.012346  32.411389  -99.681944
2      10140  0.237173   0.034031  35.038889 -106.608333
3      10141  0.129032   0.032258  45.448333  -98.422500
4      10146  0.134831   0.078652  31.535556  -84.194444

In [94]:
joinedDF.to_csv('build/flights-stat.csv', index=False)